@model ck_project.lead_source

@{
    ViewBag.Title = "Add Lead Source";
    Html.Partial("_AdminMenu");
}

<h2>Add Lead Ssorce</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lead Source</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.source_name, "Lead Source", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.source_name, new { htmlAttributes = new { @class = "form -control" } })
                @Html.ValidationMessageFor(model => model.source_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "LeadSource")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
